@import url('https://fonts.googleapis.com/css2?family=Poppins:w@200;300;400;500;600;700&display=swap');

:root {
  --color-principal-pagina: #090265; 
  --color-secundario: #ffffff; 
  --color-contraste: #FECE1A; 
  --color-texto: #ffffff; 
  --color-fondo: #221b74; 
  --color-borde: #8481b2; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  overflow-x: hidden; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

#reporte {
  height: 100vh; /* Resta la altura del header */
  width: 100vw;
  margin-top: 80px; /* Ajusta el margen superior para que no se superponga con el header */
  border: none; /* Elimina el borde del iframe */
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  background-color: var(--color-secundario);
  justify-content: center; 
}

#titulo {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-principal-pagina);
  margin-left: 25vw;
}

.nav_logo {
  font-size: 25px;
}

.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/*------------------------------------------footer------------------------------------------*/
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--color-principal-pagina);
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p, a {
  color: var(--color-secundario);
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-secundario);
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}



footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: var(--color-texto);
  background: var(--color-contraste);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid var(--color-contraste);
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: var(--color-contraste);
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  overflow-x: hidden; 
  overflow-y: hidden; 
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid var(--color-borde);
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.content .media-icons a:hover {
  border-color: var(--color-contraste);
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: var(--color-texto);
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: var(--color-contraste);
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: var(--color-contraste);
}

@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}